.slider-wrapper {
  padding: 11px 0;
  overflow: hidden;
  position: relative;
  width: 100%;
  float: right;
  margin-bottom: 5%;
}

@media (max-width:768px) and (min-width:361px) {

  .slider-wrapper {
    width: 81%;
    float: left;  
  }
}
