.main-section{
  height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 2rem 10rem;
  padding: 10rem 10rem;
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
  background: #1a1919;
}


#gamexxx{
  margin-top: 70px;
}


.main-section p{
  font-size: 2rem;
  color: #f9f9f9;
  margin-bottom: 120px;
}

img{
  width: 500px;
}

.card{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  background: #1a1919;
  margin: 2rem 10rem;
  padding: 20px 20px;
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
  color: #f9f9f9;
  font-size: 25px;
}

.card img{
  height: 400px;
}

.card > div{
  padding: 10px;
}

.card:nth-child(even){
  order: 2;
}


@media(max-width:600px){
  .card{
    display: block;
  }
}

.zuQcu .container{
  margin: 0 !important;
}
.droOkG .container{
  margin: 0 !important;
}

#tracker{
  height: 100px;
  width: 160px;
  margin-left: 270px;
}

#youtube{
  height: 160px;
  width: 290px;
  margin-left: 220px;
}

#spotify{
  height: 230px;
  width: 290px;
  margin-left: 220px;
}

#rainbow{
  margin-left: 170px
}


