
























/* Media  */
@media (min-width: 900px) {
  .mdScreen {
    display: none;
  }
}

/* @media (max-width: 900px) {
  .lgScreen {
    display: none;
  }
  .mdScreen {
    display: block;
    margin-bottom: 0.4rem;
  }
} */