.mainhome {
  background-color: black;
}

.BackgroundVideo_Container__2OGYJ {
  margin-bottom: 50px !important;
}

#gamexxx {
  /* margin-left: 40%; */
  float: right;
  padding: 70px 60px 60px 60px
}

.maininfo {
  color: white;
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 50px;
  font-family: 'Play', sans-serif;
}

.info {
  color: white;
  font-size: 1.3rem;
  text-align: center;
  margin-left: 490px;
  font-family: 'Play', sans-serif;
}

.info2 {
  color: white;
  font-size: 1.3rem;
  text-align: center;
  margin-top: -40px;
  padding-bottom: 30px;
  width: 60%;
  padding-left: 8%;
  font-family: 'Play', sans-serif;
}

.info3 {
  color: white;
  font-size: 1.3rem;
  text-align: center;
  margin-top: -14%;
  float: right;
  margin-left: 50%;
  margin-right: 10%;
  font-family: 'Play', sans-serif;
}

#youtube {
  display: block;
  margin: 15px auto;
  animation-name: moveToRight;
  animation-duration: 2s;
  overflow: hidden;
  position: relative;
  height: 110px;
  float: right;
  margin-right: 21%;
}

#tracker {
  display: block;
  margin: 15px auto;
  animation-name: moveToRight;
  animation-duration: 2s;
  overflow: hidden;
  position: relative;
  height: 100px;
  margin-right: 25rem;
  margin-top: -25rem;
}

#spotify {
  display: block;
  margin: auto;
  animation-name: moveToRight;
  animation-duration: 2s;
  overflow: hidden;
  position: relative;
  height: 300px;
}

#division, #rainbow, #overwatch {
  height: 400px;
}

.main-section {
  background-color: black;
}

.card {
  background-color: black;
}

.card2 {
  /* background-color: rgba(68, 68, 68, 0.3); */
  background-color: black;
}

.card3 {
  background-color: black;
  margin-top: 10%;
}

.main-section {
 margin: 0 10%;
}

#division {
  float: right;
  margin-top: 3%;
}

#overwatch {
  padding-bottom: 80px;
}

#rainbow {
  float: left;
  margin-right: 3%;
}

.fdCmlv {
  background-color: black !important;
}

@media (max-width: 360px){

  .mainhome {
    max-width: 100vw;
  }

  .BackgroundVideo_Container__2OGYJ {
    height: 100%;
    width: 100%; 
  }

  .ApKpt {
    font-size: 1rem !important;
  }

  .BackgroundVideo_icons_moe__jFNlS img {
    height: 20px;
    margin: 0 !important;
    width: auto;
  }

  #gamexxx {
    float: none;
    padding: 0px;
    margin-left: 23px;
    height: 60px;
  }

  .maininfo {
    font-size: 1rem;
  }

  #tracker {
    margin: 0px;
    padding: 0px;
    margin-left: 4rem;
    height: 70px;
    margin-top: -27%;
  }

  #overwatch {
    padding: 0px;
    height: 280px;
    margin-left: -1rem;
  }

  .info {
    margin: 0px;
    font-size: 1rem;
    margin-top: 9%;
  }

  #division {
    height: 345px;
    float: none;
    margin-left: -1rem;
    margin-top: 8%;
  }

  #spotify {
    height: 270px;
    margin-top: -60%;
  }

  .info2 {
    margin: 0px;
    font-size: 1rem;
    margin-top: 9%;
    width: 100%;
    padding: 0px;
    margin-top: -28%;
  }

  #rainbow {
    height: 250px;
    float: none;
    margin: 0px;
    margin-left: -1rem;
  }

  #youtube {
    height: 80px;
    margin: 0px;
    float: none;
    margin-left: 17%;
    margin-top: -25%;
  }

  .info3 {
    margin: 0px;
    font-size: 1rem;
    margin-top: 9%;
    width: 100%;
    padding: 0px;
    float: none;
  }

  .fdCmlv .footer-columns {
    width: 100% !important;
    grid-gap: 0px !important;
    margin: 0px;
  }

  .fdCmlv .lang-btn {
    margin-left: 53%;
  }

}