
#edit_page{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(10, 10, 10);
}
.page_header {
  margin-top: 1em;
  font-family: 'Play', sans-serif;
  font-size: 38px;
  color: white;
  width: 94%;
  border-bottom: 2px solid white;
}
.category_header {
  margin: 1em 0em 0.5em 0em;
  font-family: 'Play', sans-serif;
  font-size: 28px;
  color: white;
  width: 94%;
}
#avatar_card {
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
  border-radius: 8px;
  width: 94%;
  height: 14em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#current_img {
  width: 180px;
  height: 180px;
  margin: 1em 0em 0em 1em;
  border-radius: 8px;
}
#avatar_img {
  width: 90px;
  height: 90px;
  margin: 1em 1em 0em 1em;
  border-radius: 8px;
}
#avatar_img:hover {
  cursor: pointer;
}
#banner_select {
  display: flex;
  flex-direction: column;
  margin: 1em 1em 1em 1em;
}
.banner_header {
  font-family: 'Play', sans-serif;
  color: white;
  font-size: 1.2em;
}

#alias_card {
  display: flex;
  flex-direction: column;
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
  border-radius: 8px;
  width: 94%;
  height: 14em;
  justify-content: space-around;

}
#alias_card_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 1em;
}
#alias_card_col {
  height: 8em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#alias_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.alias {
  display: flex;
  flex-direction: row;
  align-content: center;
  margin: 1em 1em 2em 0em;
  justify-content: space-between;
}
.alias_header {
  font-family: 'Play', sans-serif;
  color: white;
  margin: 1.4em 1em 0em 1em;
}
.note {
  font-family: 'Play', sans-serif;
  font-style: italic;
  color: white;
  margin: 1.4em 1em 0em 1em;
}
#platform {
  width: 3em;
  height: 3em;
}
#profile_media {
  display: flex;
  flex-direction: row;
  width: 94%;
  justify-content: space-between;
}

#youtube_card {
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
  border-radius: 8px;
  width: 94%;
  height: 18em;
}
#videos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
#video_col {
  display: flex;
  flex-direction: column;
  width: 260px;
  margin: 2em 1em 0em 1em;
}
input {
  margin-top: 1em;
  height: 1.6em;
  border-radius: 4px;
  background-color: rgb(131, 131, 131);
  border: 1px solid #9ecaed;
  color: black;
  font-family: 'Play', sans-serif;
  font-size: 1em;
}
::placeholder {
  color: black;
  font-family: 'Play', sans-serif;
  font-size: 1em;
}
#spotify_card {
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
  border-radius: 8px;
  width: 94%;
  height: 19em;
  margin-bottom: 4em;
}
#vid {
  border-radius: 4px;
}
.edit_button {
  font-family: 'Play', sans-serif;
  font-size: 2em;
  width: 8em;
  height: 2em;
  margin-bottom: 4em;
  border-radius: 8px;
  color: rgb(228, 225, 225);
  background-color: rgb(151, 150, 150);
  outline: none;
}
.edit_button:hover {
  cursor: pointer;
  color: rgba(128, 0, 128, 0.5);
  border: 1px solid rgb(255, 0, 98);
}
#confirm_button {
  width:94%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
