
#edit_page{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page_header {
  margin-top: 1em;
  font-family: 'Play', sans-serif;
  font-size: 38px;
  color: white;
  width: 94%;
  border-bottom: 2px solid white;
}
.category_header {
  margin-top: 1em;
  font-family: 'Play', sans-serif;
  font-size: 28px;
  color: white;
  width: 94%;
}
#avatar_card {
  border: 1px solid white;
  border-radius: 8px;
  width: 94%;
  height: 14em;
}
#alias_card {
  border: 1px solid white;
  border-radius: 8px;
  width: 94%;
  height: 14em;
}


#profile_media {
  display: flex;
  flex-direction: row;
  width: 94%;
  justify-content: space-between;
}

#youtube_card {
  /* display: flex;
  flex-direction: row; */
  border: 1px solid white;
  border-radius: 8px;
  width: 94%;
  height: 18em;
}
#videos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
#video_col {
  display: flex;
  flex-direction: column;
  width: 260px;
  margin: 2em 1em 0em 1em;
}
input {
  margin-top: 2em;
  height: 2em;
  border-radius: 4px;
  background-color: rgb(131, 131, 131);
  border: 1px solid purple;
  color: black;
  font-family: 'Play', sans-serif;
}
::placeholder {
  color: black;
  font-family: 'Play', sans-serif;
  font-size: 1.2em;
}

#spotify_card {
  border: 1px solid white;
  border-radius: 8px;
  width: 94%;
  height: 19em;
  margin-bottom: 4em;
}
#vid {
  border-radius: 4px;
}
