.youtube {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  display: inline-flex;
  justify-content: center;
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
  margin-left: 4%;
  margin-bottom: 5%;
}

iframe {
  padding: 0 1rem 0 1rem;
}