.youtube {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  display: inline-flex;
  justify-content: center;
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
  margin-left: 4%;
  margin-bottom: 5%;
}

iframe {
  padding: 0 1rem 0 1rem;
}

@media (max-width:360px) {

  .youtube {
    display: grid;
    margin-left: 1%;
    padding: 15px;
  }

  iframe {
    width: 350px;
    height: 300px;
  }

}

@media (max-width:768px) and (min-width:361px) {

  .youtube {
    display: grid;
    margin-left: 1%;
    padding: 15px;
    width: 76%;
  }

  iframe {
    width: 570px;
    height: 400px;
    padding-top: 20px;
  }

}