@fontface {
  font-family: 'Bungee Hairline', cursive;
  src: url('https://fonts.googleapis.com/css?family=Bungee+Hairline&display=swap')
}

.sidebar {
  max-width: 240px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #373a47;
  color: white;
  min-height: 100vh;
}
  
.sidebar span {
  font-size: 20px;
}

a {
  color:#FF0000;         /* Unvisited link  */
  text-decoration: none;
}
a:visited {color:#00FF00;} /* Visited link    */
a:hover {color:#FF00FF;}   /* Mouse over link */
a:active {color:#0000FF;}  /* Selected link   */

.sidebar .MuiListItem-button:hover {
  background-color:rgb(red);
}

#logo a{
  font-family: 'Bungee Hairline', cursive;
  font-weight: 600;
  font-size: 35px;
}