#friends .MuiGrid-spacing-xs-2 {
  width: 60% !important;
  margin-left: 24rem !important;
}
#friends .MuiGrid-spacing-xs-3 {
  width: 100% !important;
  margin: 0 !important;
}

#friends .MuiPaper-root {
  width: 300px;
  height: 80px;
  background-color: rgba(88, 88, 88, 0.7) !important;
  transition: all .2s ease-in-out;
}

#friends .MuiPaper-root:hover {
  transform: scale(1.1);
  cursor: pointer;
}

#friends h1 {
  margin-top: 7rem;
  color: white;
  margin-left: 6rem;
  width: 90%;
  font-family: 'Play', sans-serif;
  text-align: center;
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
  margin-bottom: 5rem;
  font-size: 50px;
}

#friends .header1 {
  color: white;
  margin: -39px 93px 0 20px;  
  height: 40px;
}

#friends .header2 {
  color: white;
  margin: -39px 3px 0 20px;  
  height: 40px;
}

#friends .MuiButton-contained {
  background-color: grey !important;
}

#friends .MuiBadge-root {
  display: table-caption !important;
}

#friends .MuiTypography-root {
  margin-top: -45px;
  margin-left: 70px;
}

#friends .MuiGrid-container {
  justify-content: center !important;
}

#friends .MuiAvatar-root {
  height: 60px;
  width: 60px;
  margin-top: -20px;
}

#friends .user {
  height: 100%;
  width: 100%;
}

#friends h2 {
  margin-top: 4rem;
  margin-left: 30rem;
  color: white;
  font-family: 'Play', sans-serif;
  border-bottom: solid 1px #9ecaed;
  width: 50%;
}

#friends .offline span {
  background-color: grey !important;
  color: grey !important;
}

#friends .searchbar {
  background-color: rgb(86, 28, 245) !important;
  width: 800px;
  height: 50px;
  margin-left: 29%;
  color: white;
  font-size: 25px;
}

#friends .search svg {
  color: white !important;
}

@media (max-width:360px) {

  #friends h1 {
    font-size: 30px;
    margin-left: 19px;
    margin-bottom: 40px;
  }

  #friends .searchbar {
    width: 300px;
    height: 40px;
    margin-left: 30px;
  }

  #friends .MuiButton-contained {
    height: 30px;
    width: 190px;
  }

  #friends .header1 {
    margin-top: 20px;
    margin-right: 80px;
  }

  #friends .header2 {
    margin-top: 20px;
    margin-right: 80px;
  }

  #friends h2 {
    margin-left: 2rem;
    margin-top: 8rem;
    width: 82%;
  }

  #friends .MuiGrid-spacing-xs-2 {
    margin-left: 4.5rem !important;
  }

  #friends .MuiGrid-container {
    flex-wrap: wrap !important;
    overflow-y: unset !important;
    overflow-x: unset !important;
  }
}

@media (max-width:768px) and (min-width:361px) {

  #friends h1 {
    font-size: 35px;
    width: 90%;
    margin-left: 42px;
    margin-bottom: 40px;
  }

  #friends .searchbar {
    width: 140vw;
    height: 40px;
    margin-left: 4.5rem !important;
  }

  #friends .MuiButton-contained {
    height: 40px;
    width: 230px;
  }

  #friends .MuiButton-label {
    font-size: 17px !important;
  }

  #friends .header1 {
    margin-top: 20px;
    margin-right: 0px;
    margin-left: 80px;
    float: left;
  }
  #friends .header2 {
    margin-top: 20px;
    margin-right: 0px;
    margin-left: 160px;
    float: left;
  }

  #friends h2 {
    margin-left: 2rem;
    margin-top: 8rem;
    width: 90%;
  }

  #friends .MuiGrid-spacing-xs-2 {
    margin-left: 9.5rem !important;
  }

  #friends .MuiGrid-container {
    flex-wrap: wrap !important;
    overflow-y: unset !important;
    overflow-x: unset !important;
  }
}

@media (min-width:1556px) and (max-width:1778px){

  #friends .header2 {
    color: white;
    margin: -118px 313px 0 20px;  
    height: 40px;
  }

}

@media (min-width:769px) and (max-width:1555px) {

  #friends .header2 {
    margin-top: 10px;
  }

  #friends .header1 {
    margin-top: 10px;
    margin-right: 16em;
  }

  #friends .searchbar {
    width: 70%;
    margin-left: 7em;
  }

  #friends h2 {
    margin-left: 9em;
    width: 80%;
  }

  #friends .MuiGrid-container {
    margin-left: 9em !important;
  }

} 