#charImg {
  width: 260px;
  height: 300px;
}
#characterImg {
  display: flex;
  flex-direction: row;
}
#character {
display: flex;
flex-direction: column;
}


@media (max-width :768px) {
  #charImg {
    width: 11em;
    height: 14em;
  }
  #characterImg {
    display: flex;
    flex-direction: row;
  }
  #character {
  display: flex;
  flex-direction: column;
  width: 100%;
  }
}

@media (min-width :768px) {
  #charImg {
    width: 11em;
    height: 14em;
  }
  #characterImg {
    display: flex;
    flex-direction: row;
  }
  #character {
  display: flex;
  flex-direction: column;
  width: 100%;
  }
}