#game {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1000px;
}
#section {
  font-family: 'Bungee';
  color: white;
  font-size: 54px;
  width: 1238px;
  margin-top: 24px;
  /* text-decoration: underline; */
  border-bottom: 1px solid grey;
}

#notes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#wide {
  width: 1238px;
  height: 600px;
}

@media (max-width: 360px) {
  #game {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: space-around;
  }
  #section {
    font-family: 'Bungee';
    color: white;
    font-size: 2.6em;
    width: 90%;
    margin: 24px 1em 0em 1em;
    border-bottom: 1px solid grey;
  }
  #notes {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 96%;
  }
  #wide {
    width: 90%;
    height:auto;
  }
  #banner1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

@media (min-width: 361px) and (max-width :768px) {
  #game {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: space-around;
  }
  #section {
    font-family: 'Bungee';
    color: white;
    font-size: 2.6em;
    width: 90%;
    margin-top: 24px;
    border-bottom: 1px solid grey;
  }
  #notes {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45em;
  }
  #wide {
    width: 80%;
    height:auto;
    margin-left: 1em;
  }
  #banner1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
@media (min-width: 769px){
  #game {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  #banner1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  #section {
    font-family: 'Bungee';
    color: white;
    font-size: 2.6em;
    width: 90%;
    margin-top: 24px;
    border-bottom: 1px solid grey;
  }
  #notes {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0em 1em 0em 1em;
  }
  #wide {
    width: 80%;
    height:auto;
    margin-left: 1em;
  }

}