#comment_container {
  display: flex;
  flex-direction: column;
  height: 24em;
  width: 1238px;
  margin-bottom: 2em;
  border: 1px solid rgb(73, 72, 73);
  border-radius: 8px;
}

#scroll {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 100%;
  padding: 0.6em;
}
#chatInput {
  display: flex;
  flex-direction: row;

}
#outlined-secondary{
  width: 1108px;
  background-color: rgb(88, 88, 88);
  border-radius: 0px 0px 0px 8px;
}
#button {
  width: 130px;
  background-color: rgba(71, 69, 69, 0.596);
  color: white;
  border-radius: 0px 0px 8px 0px;
}


@media (max-width :767px) {
  #comment_container {
    display: flex;
    flex-direction: column;
    height: 24em;
    width: 96%;
    margin-bottom: 2em;
    border-radius: 8px;
  }
  
  #scroll {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100%;
    padding: 0.6em;
  }
  #chatInput {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
    height: 2.6em;
  }
  #comment_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5em;
    background-color: rgba(71, 69, 69, 0.596);
    color: white;
    border-radius: 0px 0px 8px 0px;
    height: 100%;
  }
  #comment_button:hover {
    cursor: pointer;
    color: orange;
    border: 1px solid orange;
  }
  #comment_board {
    border-radius: 0px 0px 0px 8px;
    width: 100%;
    height: 100%;
    margin: 0px;
    border: 0px;
    padding: 0em 0em 0em 1em;
  }
  #comment_board:focus {
    border-radius: 0px 0px 0px 8px;
    outline: none;
    border: 1px solid orange;
  }
}

@media (min-width :768px) {
  #comment_container {
    display: flex;
    flex-direction: column;
    height: 24em;
    width: 96%;
    margin-bottom: 2em;
    border: 1px solid rgba(71, 69, 69, 0.596);
    border-radius: 8px;
  }
  
  #scroll {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100%;
    padding: 0.6em;
  }
  #chatInput {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
    height: 2.6em;
  }
  #comment_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5em;
    background-color: rgba(71, 69, 69, 0.596);
    color: white;
    border-radius: 0px 0px 8px 0px;
    height: 100%;
  }
  #comment_button:hover {
    cursor: pointer;
    color: orange;
    border: 1px solid orange;
  }
  #comment_board {
    border-radius: 0px 0px 0px 8px;
    width: 100%;
    height: 100%;
    margin: 0px;
    border: 0px;
    padding: 0em 0em 0em 1em;
  }
  #comment_board:focus {
    border-radius: 0px 0px 0px 8px;
    outline: none;
    border: 1px solid orange;
  }
}