#ow {
  min-width: 18.25em;
  max-width: 18.25em;
  min-height: 18.875em;
  max-height: 18.875em;
}

.title_card {
  margin-right: 12px;
  margin-left: 12px;
}
#more {
  border-radius: 0px 8px 8px 0px;
  font-family: 'Bungee';
  color: rgb(217, 230, 227);
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0px;
  border-left: 1px solid white;
  min-width: 1.5em;
  max-width: 1.5em;
  height: 100%;
  background-image: linear-gradient(rgb(107, 1, 107), rgba(231, 7, 55, 0.856));
  /* background-color: rgba(170, 1, 1, 0.808); */
}
#more:hover {
  cursor: pointer;
}
#text {
  display: flex;
  flex-direction: column;
  word-break: break-word;
}

.show {
  min-width: 1238px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 6.875em;
  width: 18.25em;
  border: 2px solid white;
  font-family: 'Bungee Hairline';
  color: white;
  font-size: 26px;
  margin-bottom: 24px;
  height: 240px !important;
  display: flex;
  align-items: flex-start;
  background-color: rgb(24, 23, 23);
}

@font-face {
  font-family: 'Star Trek';
  src:  url('./img/star.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
#overview {
  font-family: 'Star Trek';
  color: white;
  font-size: 45px;
  margin: 0px;
}

#desc {
  margin: 0px;
}

