.container-banner {
  background-image: url('../public/images/halo.jpg');
  background-size: 100%;
  text-align: center;
  border-style: hidden;
  font-family: monospace;
  float: right;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2%;
}

.container-banner a {
  text-decoration: none;
}

.container-banner span {
  color: white;
  font-family: 'Play', sans-serif;
}
.container-banner h1 {
  color: white;
  float: left;
  margin-top: 170px;
  font-size: 50px;
  padding-bottom: 9%;
  z-index: 1000;
  margin-right: 150px;
  font-family: 'Play', sans-serif;
}

#profilePic {
  border-radius: 90px;
  margin: 7%;
  width: 200px;
  height: 200px;
  float: left;
}

.logo {
  padding-right: 1%;
  width: 30px;
  height: 30px;
}

.container-banner ul {
  margin-top: 5%;
  background-color: rgba(0, 0, 0, 0.6);
  position: static;
  text-align: left;
}

.MuiButton-contained {
  /* margin-left: 30rem !important; */
  float: right;
  background-color: black !important;
}

@media (max-width:360px) {
  #profilePic {
    width: 100px;
    height: 100px;
    margin: 0%;
    margin-top: 7%;
    margin-left: 20px;
  }

  .container-banner {
    margin-top: 15px;
  }

  .container-banner h1 {
    font-size: 25px;
    margin-right: 19px;
    margin-left: 40px;
    margin-top: 60px;
  }

  .logo {
    width: 15px;
    height: 15px;
  }

  .MuiListItemText-root {
    margin-left: 20px;
  }

}

@media (max-width:768px) and (min-width:361px) {
  #profilePic {
    width: 150px;
    height: 150px;
    margin: 0%;
    margin-left: 3%;
    margin-top: 7%;
  }

  .container-banner {
    margin-top: 15px;
    width: 100%;
    float: left;
  }

  .container-banner span {
    font-size: 30px;
    margin-left: 3%;
  }

  .container-banner h1 {
    font-size: 55px;
    margin-right: 10%;
    margin-left: 90px;
    margin-top: 90px;
  }

  .logo {
    width: 15px;
    height: 15px;
  }

  .MuiButton-contained {
    height: 50px;
    width: 200px;
  }

  .MuiButton-label {
    font-size: 20px !important;
  } 

}